<!DOCTYPE html>
<html>
<head>
    <title>Add/Edit Marks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add/Edit Marks for {{ student['name'] }}</h1>
        <form method="POST" class="form-box">
            MSC: <input type="number" name="msc" value="{{ marks['msc'] if marks else 0 }}" required><br><br>
            EVS: <input type="number" name="evs" value="{{ marks['evs'] if marks else 0 }}" required><br><br>
            DOC: <input type="number" name="doc" value="{{ marks['doc'] if marks else 0 }}" required><br><br>
            ENG: <input type="number" name="eng" value="{{ marks['eng'] if marks else 0 }}" required><br><br>
            HIN: <input type="number" name="hin" value="{{ marks['hin'] if marks else 0 }}" required><br><br>
            C: <input type="number" name="c" value="{{ marks['c'] if marks else 0 }}" required><br><br>
            <input type="submit" value="Save Marks" class="btn">
        </form>
        <a href="/students" class="btn">Back to Students</a>
    </div>
</body>
</html>
